{{> head }}
{{> navbar }}
<div class="jumbotron">
            <div class="container">
                <h1>Hola Mundo: {{ page }}</h1>
            </div>
        </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8 col-md-8">
            <h1>Iron Man</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sint, architecto optio recusandae dolor, veritatis ducimus accusantium quam velit libero amet omnis quos. Voluptatibus quo sequi laborum a ex assumenda?</p>
        </div>
        <div class="col-4 col-md-4">
            <img src="assets/img/iron-man.jpg" alt="" class="img-thumbnail img-responsive">
        </div>
    </div>
</div>
{{> footer }}